/* Comic */
#webcomic{ 
    min-height: 900px;
    #comic-title {
        margin-top: 25px;
        font-size: 48px;
        text-align: center;
    }
    nav {
        margin: 50px;
        text-align: center;
        a{
            text-decoration: none;
            margin: 0 30px;
            display: inline-block;
        }
    }
    #comic {
        margin: auto;
        display: block;
    }
    ul {
        h2 {
            text-align: center;
            font-size: 32px;
        }
    }
}