/* main styles */
body{
    background-color: black;
    color: white;
}
.title {
    margin-top: 25px;
    font-size: 48px;
    text-align: center;
}
.center {
    width: 750px;
    max-width: 95%;
    margin: auto;
}